/* id 选择器以 "#" 来定义。 */
/* 类选择器以一个点号显示 */

#container{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 60%;
	height: 100%;
	background-color: #bfd1e5;
}

#container2{
	position: absolute;
	right: 0px;
	top: 0px;
	width: 40%;
	height: 50%;
	background-color: #1b76dd;
}

#progressModal {
	width: 50%;
	min-height: 45px;

	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	padding: 3px;
	border-radius: 5px;

	background-color: #333;
	color: white;
	font-family: sans-serif;
	font-weight: bold;
}

#progressModal #name {
	display: block;

	text-align: center;
	text-transform: capitalize;
}

.progressBar {
	height: 30px;
	position: relative;

	background-color: #333;
	border: 3px solid #333;
	text-align: center;
}

.progressBar #label:after {
	content: attr(data-perc);

	font-size: 1.5em;
	font-weight: bold;

	display: block;
	position: absolute;
	width: 100%;
	z-index: 10;
}

.progressBar #bar {
	background-color: #2FA1D6;

	width: 0%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0px;

	transition: 0.5s ease;
}

#frameLabel{
	z-index:10;
}


#gui1{
	position: absolute;
	right: 0px;
	top: 0px;
}

#ex23d{
	position: absolute;
	right:0px;
	bottom: 0px;
	color: #ffffff;
}

.btn{
	position: relative;
    display: inline-block;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    border: 1px solid;
    border-radius: 6px;
    -webkit-appearance: none;
}
.btn-sm {
    /* padding: 3px 12px; */
    font-size: 12px;
	line-height: 20px;
	text-align:center;
}

.btn-primary {
    background-color: #2ea44f;
    border-color: rgba(27,31,35,0.15);
}