/* id 选择器以 "#" 来定义。 */
/* 类选择器以一个点号显示 */

/* #gui{
    position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 15vw;
    background-color: #654321;
} */

#view{
    position: absolute;
	right: 0px;
	top: 0px;
	height: 100%;
	/* width: 85vw; */
    width: 100vw;
    /* background-color: blue; */
}

#left-container{
    position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100vh;
    /* background-color: blue; */
}

#right-container{
    position: absolute;
	right: 0px;
	top: 0px;
	height: 100%;
	/* width: calc(85vw - 100vh); */
    width: calc(100vw - 100vh);
    /* background-color: #E95F74; */
}

#streamline-container{
	position: absolute;
	left: 0px;
	top: 0px;
	height: 50%;
	width: 50%;
	background-color: #bfd1e5;
}

#detection-container{
	position: absolute;
	right: 0px;
	top: 0px;
	width: 50%;
	height: 50%;
	background-color: #1b76dd;
}

#frequency-container{
	position: absolute;
	left: 0px;
	bottom: 0px;
	height: 50%;
	width: 50%;
	background-color:chartreuse;
}

#path-container{
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 50%;
	height: 50%;
	background-color: #123456;
}


#topo-container{
	position: absolute;
	right: 0px;

	width: 100%;
	height: 50%;
	background-color: #fae6fa;
	/* background-color: #ADD8E6; */
}

#parallel-container{
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 100%;
	height: 50%;
	background-color: #cf1313;
}

#streamline-gui{
	position: absolute;
	right: 0px;
	top: 0px;
}

#topo-gui{
	position: absolute;
	right: 0px;
	top: 0px;
}

#ex23d{
	position: absolute;
	right:0px;
	bottom: 0px;
	color: #ffffff;
}

.btn{
	position: relative;
    display: inline-block;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    border: 1px solid;
    border-radius: 6px;
    -webkit-appearance: none;
}
.btn-sm {
    /* padding: 3px 12px; */
    font-size: 12px;
	line-height: 20px;
	text-align:center;
}

.btn-primary {
    background-color: #2ea44f;
    border-color: rgba(27,31,35,0.15);
}

